.bg1 {
    background-color: aliceblue;
    margin: 0px;
}
.history {
    border: 2px solid black;
    width: 50%;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}
.title {
    font-size: 30px;
}
.recipe {
    border: 2px solid black;
    width: 95%;
    padding: 0px 10px 0px 10px;
}


/*Positional Assignments for divs and images*/
.recipe {
    position: absolute;
    top: 80%;
    bottom: auto;
    left: auto;
    right: auto;
}
.history {
    position: absolute;
    right: auto;
    left: 0%;
    
    
}
.img1 {
    position: absolute;
    right: 8%;
    left: auto;
    top: 21%;
    bottom: auto;
    margin: 10px; 
}